@import 'vars';

nav {
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  background-color: $darkBlue;
  ul {
    list-style: none;
    li {
      padding: 5px;
    }
    a{
      color: white;
      text-decoration: none;
    }
  }
}