@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.challenge-container .clock {
  margin-top: 45px;
  margin-bottom: 25px;
  color: white; }

.challenge-container .form-header {
  color: #09EEAF; }
  @media only screen and (min-width: 320px) and (max-width: 48em) {
    .challenge-container .form-header {
      margin: 10px 10px; } }

.challenge-container .form-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto; }
  @media only screen and (min-width: 320px) and (max-width: 48em) {
    .challenge-container .form-box {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(100px, auto); } }
  .challenge-container .form-box .questions-container {
    background-color: rgba(255, 255, 255, 0);
    grid-column: 2/12;
    grid-row: 1/2;
    padding-bottom: 20px;
    border-radius: 2px; }
    @media only screen and (min-width: 320px) and (max-width: 48em) {
      .challenge-container .form-box .questions-container {
        grid-column: 1/1;
        grid-row: 1/2; } }
  .challenge-container .form-box #answer {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    width: 22em;
    height: 2em;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 2em;
    font-family: "Source Code Pro", monospace; }
    @media only screen and (min-width: 320px) and (max-width: 48em) {
      .challenge-container .form-box #answer {
        grid-column: 1/1;
        width: 90%;
        margin: 10px; } }
  .challenge-container .form-box .feedback-bar {
    background-color: #EB5757;
    width: 22em;
    height: .2em;
    font-size: 2em;
    animation: wrong-answer 1s ease-in-out infinite;
    margin: 0 auto; }
    @media only screen and (min-width: 320px) and (max-width: 48em) {
      .challenge-container .form-box .feedback-bar {
        grid-column: 1/1;
        width: 90%; } }

@keyframes wrong-answer {
  0% {
    background-color: #EB5757; }
  50% {
    opacity: .5; }
  100% {
    opacity: 0; } }
  .challenge-container .form-box .challenge-submit {
    margin-top: 15px; }

.challenge-container .progress {
  height: 300px;
  position: fixed;
  top: 100px; }

.challenge-container .progress > svg {
  height: 100%;
  display: block; }

.challenge-container .card {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background-color: #653F96;
  height: 530px;
  width: 300px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .challenge-container .card .top {
    width: 100%;
    background-color: #653F96;
    padding-top: 5px; }
    .challenge-container .card .top h1 {
      color: #09EEAF;
      margin-bottom: 40px; }
    .challenge-container .card .top button {
      cursor: pointer; }
  .challenge-container .card .overview {
    background-color: #7a57a9;
    margin-bottom: 25px;
    padding: 1px 25px 20px 25px;
    color: white; }
    .challenge-container .card .overview p {
      margin: 0; }
  @media only screen and (min-width: 320px) and (max-width: 48em) {
    .challenge-container .card {
      margin-top: 65px; } }
  @media only screen and (min-width: 64em) and (max-width: 85.375em) {
    .challenge-container .card {
      margin-top: 75px; } }

.challenge-container .timeExp {
  margin: 0 auto;
  padding-top: 100px;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(136.74deg, rgba(101, 63, 150, 0.95) 23.49%, #482A68 73.49%);
  width: 100%;
  height: 100%;
  color: white; }
  .challenge-container .timeExp button {
    cursor: pointer; }
